body {
    background-color: lightblue;
    position: relative;
    background-image: url(img/uzumaki.png);
}
h2{
    color: orange;
}
#team7 img{
    top:5px;
    left:5px;
    width:10%;
    height:10%;
}
#team7 div{
    display: inline-block;
}
#tem7 span{
    display: block;
}
#uzumaki{
    width:  50px;
    height: 50px;
}
#uzumaki img{
    display: none;
   
}




/*  Position:
    static - kamor bi šlo po defaultu
    relative - odmik glede na static
    absolute - glede na starša
    fixed - glede na zaslon???
*/